body{
    background: linear-gradient(
        #6194ecdc,
        rgb(247, 247, 247)
    ) no-repeat;
    color: rgb(252, 249, 253);
    background-image: url(imagenes/3418448.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
}

.titulos {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: rgba(232, 232, 232, 0.968);
    text-align: center;
    white-space: nowrap;
}

.imglogo1, .imglogo2, .imglogo1 {
    max-width: 100%;
    height: auto;
}

.d-md-none {
    display: contents;
}

@media (max-width: 992px) {
    .titulos {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .titulos {
        font-size: 3em;
    }
    .d-md-none {
        display: block;
    }
    .d-none.d-md-block {
        display: none;
    }
}

@media (max-width: 576px) {
    .titulos {
        font-size: 10vw;
    }
    .img-bottom {
        max-height: 100px;
    }
}
.col{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 7px;
}

.img-left, .img-right {
    max-width: 70%;
    height: auto;
}

.img-left {
    margin-right: 10px; 
}

.img-right {
    margin-left: 10px; 
}