body{
    background: linear-gradient(
        #6194ecdc,
        rgb(247, 247, 247)
    ) no-repeat;
    color: rgb(78, 24, 107);
    background-image: url(imagenes/3418448.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    overflow-x: hidden; 
}

/* Desde aqui va el encabezado de ENTRENAMIENTO*/
.titulos {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: rgba(232, 232, 232, 0.968);
    text-align: center;
    white-space: nowrap;
}

.imglogo1, .imglogo2, .imglogo1 {
    max-width: 100%;
    height: auto;
}

.d-md-none {
    display: contents;
}

@media (max-width: 992px) {
    .titulos {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .titulos {
        font-size: 3em;
    }
    .d-md-none {
        display: block;
    }
    .d-none.d-md-block {
        display: none;
    }
}

@media (max-width: 576px) {
    .titulos {
        font-size: 10vw;
    }
    .img-bottom {
        max-height: 100px;
    }
}

/* Hasta aqui va el encabezado de ENTRENAMIENTO*/

.imgt1{
    border-radius: 50px;
}

.imgt2{
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50px;
}

.textos{
    padding: 10px 20px; 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

